.section--cont {
    background: url(../../data/img/unsplash_MP0bgaS_d1c.svg);
    min-height: 30rem;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    width: 100%;
  }
  .container--cont {
    max-width: 1276px;
    display: flex;
    align-items: center;

    @include bp($point_3, max) {
      flex-direction: column;
      row-gap: 2rem;
    }
    
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;

    
    @include bp($point_2, min) {
    align-items: flex-start;
    row-gap: 3rem;
    }
    

    @include bp($point_3, max) {
      align-items: center;
      row-gap: 2rem;
    }
  }

  .section_title  {
    &.section_title--color {
    color: $white;
    margin: 0;

    @include bp($point_2, min) {
      text-align: start;
      }
      
  
      @include bp($point_3, max) {
        text-align: center;
      }
    }
  }

.tel {
font-family: Work Sans;
font-size: 2.4rem;
font-weight: 400;
line-height: 2.81rem;
color: $white;

    a {
        color: $white
        // text-decoration: none;
    }

}

.contact_btn {
@extend %transp_btn;
}