.container--exp {
    max-width: 108rem;
    display: flex;
    // column-gap: 15.2rem;
    align-items: center;
    justify-content: space-between;
    
    @include bp($point_3, max) {
    flex-direction: column;
    row-gap: 6rem;
    }
  }

  .exp_highlites {
    max-width: 61rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 3rem;


    @include bp($point_2, min) {
        padding: 0px 3rem;
    }

    @include bp($point_3, max) {
        order: 1;
        }

    @include bp($point_5, max) {
         padding: 3rem 6rem 3rem 3rem;
        }
  }

  .highlite {
    min-height: 15.5rem;
    display: block;
    padding: 3rem;
    border-radius: 0.4rem;
    background-color: $white;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 6px -2px #1118270D, 0px 12px 16px -4px #1118271A;


    &.highlite--1 {
        max-width: 28rem;
        position: relative;
        // left: 52%;
        z-index: 1;
        margin-left: 45%;

        &::after {
            content: url(../../data/img/highlite1.svg);
            width: 9.7rem;
            height: 9.7rem;
            display: inline-block;
            position: absolute;
            top: -8%;
            left: 75%;
        }
    }
    
    &.highlite--2 {
        max-width: 36.1rem;
        position: relative;
        // left: -5%;
        // top: -17%;
        margin-top: -15%;
        margin-left: 0%;
        z-index: -1;

        &::after {
            content: url(../../data/img/highlite2.svg);
            width: 9.7rem;
            height: 9.7rem;
            display: inline-block;
            position: absolute;
            top: -18%;
            left: -9%;
        }
    }


    &.highlite--3 {
        max-width: 27.6rem;

        position: relative;
        // top: -22%;
        // left: 45%;
        margin-top: -5%;
        margin-left: 45%;
        z-index: 1;

        &::after {
            content: url(../../data/img/highlite3.svg);
            width: 9.7rem;
            height: 9.7rem;
            display: inline-block;
            position: absolute;
            top: -3%;
            left: 75%;
        }
    }


    &.highlite--4 {
        max-width: 33.3rem;

        position: relative;
        // left: 8%;
        // top: -39%;
        margin-top: -11%;
        margin-left: 6%;
        z-index: -1;

        &::after {
            content: url(../../data/img/highlite4.svg);
            width: 9.7rem;
            height: 9.7rem;
            display: inline-block;
            position: absolute;
            top: 70%;
            left: 84%;

        }
    }



    .high_numb {
        font-size: 7.2rem;
        font-weight: 600;
        line-height: 8.44rem;
        text-align: left;
        color: #292E3D;
    }
    .high_text{
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 2.81rem;
        text-align: center;
        position: relative;
        
        &::before {
        background-color: #F9995D;
        content: "";
        width: 0.7rem;
        height: 2.8rem;
        position: absolute;
        top: 0;
        left: 1.2rem;
        }
    }
  }

  .exp_w {
    width: 100%;

    @include bp($point_2, min) {
    max-width: 36rem;
        }

    @include bp($point_3, max) {
        max-width: 61rem;
        }

    .exp_title {
    font-weight: 700;
    text-align: left;
    color: $blue;
    padding-bottom: 4rem;

    font-size: 6rem;
    line-height: 7.03rem;
    }
    
    .exp_desc{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.46px;
    text-align: left;
    color: #525B7A;
    padding-bottom: 5rem;
    }
    .exp_btn {
        @extend %blue_btn
    }



  }