/* HEADER */
.header {
    width: 100%;
  }
  .container--header {
    display: flex;
    align-items: center;
    max-width: 1276px;
    min-height: 80px;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: centgiter;
    max-width: 167px;
    column-gap: 14px;
  }
  .logo__cube {
    display: block;
    width: 38px;
    height: 48px;
    object-fit: contain;
  }
  .logo__box {
    display: block;
    width: 111px;
    height: 35px;
    object-fit: contain;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
  }