.section--hero {
    padding-top: 0px;
    background: url(/data/img/Hero.svg);
    background-size: cover;
    background-position: 50%;
    width: 100%;
    min-height: 646px;
    position: relative;
  }
  .container--hero {
    max-width: 1276px;
  }
  .hero_title {
    font-family: Work Sans;
    font-size: 72px;
    font-weight: 600;
    line-height: 84.46px;
    text-align: left;
    max-width: 668px;
    padding-top: 238px;
    // padding-left: 112px;
    color: #292e3d;
  }


  // ------
  .feature {
    max-width: 416px;
    height: 150px;
    position: absolute;
    bottom: 40px;
    right: 0px;
  }
 .swiper-wrapper {
  height: 150px;
  width: 100%;
 }
  .swiper-slide {
    width: 100%;
    background-color: #3559C7;
  }
  .nav_wrap {
    display: flex;
    flex-wrap: nowrap;
    max-width: 416px;
    height: 40px;
  }
  .feature-next, .feature-prev {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.11px;
    width: 100%;

    background: #292E3D;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature-prev {
    border-right:  1px solid white;
  }

  .feature-next::after {
    content: url(/data/img/arrow-next.svg);
    display: inline-block;
    width: 26px;
    height: 17px;
    position: relative;
    left: 10px;
  }
  .feature-prev::before {
    content: url(/data/img/arrow-prev.svg);
    display: inline-block;
    width: 26px;
    height: 17px;
    position: relative;
    right: 10px;
  }