.nav_top {

    width: 50px;
    height: 50px;
    background-color: #2947a9;
    border-radius: 50%;
    position: fixed;
    top: calc(98% - 50px);
    left: calc(98% - 50px);
    z-index: 1;
  
    visibility: hidden;
    opacity: 0;
  
    &.visible {
      transition: opacity 0.3s ease-in-out;
      opacity: 0.8;
      visibility: visible;
    }
  
    &::after{
    content: url(../../data/img/arrow-prev.svg);
    display: inline-block;
    width: 26px;
    height: 17px;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) rotate(90deg);
    }
  }