.container--projects {
    max-width: 127.6rem;
  }
  
  .tabs_w {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
  }
  .project__btn_w {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @include bp($point_2, min) {
      row-gap: 2rem;
    }
    
    @include bp($point_3, max) {
      row-gap: 1rem;
    }
    
    
  }
  .prg_btn {
    font-family: Work Sans;
    color: #c2c7d6;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.81rem;
    // cursor: none;
    transition: color 0.5s ease;
  }
  .prg_btn.activeb {
    color: $blue;
    position: relative;
  }
  .prg_btn.activeb::before {
    background-color: $blue;
    content: "";
    width: 5px;
    height: 28px;
    position: absolute;
    top: 0;
    left: -16px;
  }
  /* swiper */
  
 .cont_w {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    overflow: hidden;
    row-gap: 3.2rem;
 }

  .nav_wrap2 {
    display: flex;
    flex-wrap: nowrap;
    min-height: 6.4rem;
    align-items: center;
    justify-content: space-between;
  }

  .SwiperBtnNext, .SwiperBtnPrev {
    @extend %navigation_btn2;
  }
  .SwiperBtnNext::after {
    content: url(../../data/img/arrow-next.svg);
    display: inline-block;
    width: 26px;
    height: 17px;
    position: relative;
    left: 1rem;
  }
  .SwiperBtnPrev::before {
    content: url(../../data/img/arrow-prev.svg);
    display: inline-block;
    width: 26px;
    height: 17px;
    position: relative;
    right: 1rem;
  }
  .Pagination {
    width: auto !important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.3rem;
  }
  .swiper-pagination-bullet {
    max-width: 1.6rem;
    max-height: 1.6rem;
  } 



  /* content tabs */
  .tabs__content {
    display: flex !important;
    flex-wrap: wrap;

    @include bp($point_2, min) {
      gap: 3.2rem;
    }
    
    @include bp($point_3, max) {
      gap: 1.5rem;
      justify-content: space-evenly;
    }
  }
  .tabs__content_item {
    
    @include bp($point_2, min) {
      max-width: 38.4rem;
    }
    
    @include bp($point_3, max) {
      max-width: 16.4rem;
    }
    
    
  }
  
  .img_w {
    max-width: 38.4rem;
    width: 100%;
    display: block;
  }

  .text_w {
    background-color: $blue;
    color: $white;
    max-width: 38.4rem;
    display: flex;
    flex-direction: column;
    

    
    @include bp($point_2,min) {
      padding-left: 12px;
      justify-content: center;
      min-height: 8.4rem;
    }
    @include bp($point_3,max) {
      padding: 0;
      justify-content: flex-start;
      min-height: 13rem;
    }
    
  }
  .img_prg {
    width: 100%;
    height: 100%;
    display: block;
  }
  .itm__text {

    @include bp($point_2, min) {
      font-size: 20px;
      font-weight: 700;
      line-height: 23.46px;
      text-align: left;
    }
    
    @include bp($point_3, max) {
      font-size: 15px;
      font-weight: 600;
      line-height: 18.46px;
      text-align: center;
    }
    
  }
  .itm__text_loc {

    @include bp($point_2, min) {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.11px;
    text-align: left;
    }
    
    @include bp($point_3, max) {
      font-size: 12px;
      font-weight: 300;
      line-height: 15.11px;
      text-align: center;
    }
  }