.section--services {
    background-color: #f6f8f7;
    min-height: 60.8rem;
    overflow: hidden;
  }
  .container--services {
    max-width: 108rem;
    width: 100%;
  }
  
  .serv_w {
    /* width: 100%; */
    display: flex;
    /* column-gap: 98px; */
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 4.8rem;
    
    @include bp($point_4, min) {
      margin-right: -9.8rem;
      justify-content: space-between;
    }

    @include bp($point_5, max) {
      column-gap: 8rem;
      justify-content: center;
     }
  }
  .serv_ww {

    @include bp($point_4, min) {
      width: calc(100% / 3);
      padding-right: 9.8rem;
    }
    
    @include bp($point_5, max) {
      max-width: 34rem;
      width: 100%;
    }
    
  }

  .serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    min-height: 18.1rem;
    cursor: pointer;
    /* width: calc((100% - 2 * 98px) / 3); */
    background-color: white;
  }
  .serv--blue {
    background-color: #2947a9;
  }
  .serv__img {
    width: 4rem;
    height: 4rem;
  }
  .serv__bord {
    border-bottom: #e0e3eb solid 2px;
    max-width: 6rem;
    width: 100%;
  }
  
  .serv__title {
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.34rem;
    color: #2947a9;
  }
  .serv__title--white {
    color: white;
  }