
.container--about {
    max-width: 127.6rem;
    // position: relative;
    display: flex;
    align-items: center;

    @include bp($point_5, max) {
     flex-direction: column;
    }
    
  }

  .about_img_w {
    display: block;
    border-radius: 2px;
    box-shadow:
      0px 8px 8px -4px #1118270a,
      0px 20px 24px -4px #1118271a;
      max-width: 100%;
      width: 90.2rem;
      height: 67rem;
      
      @include bp($point_4, min) {
        width: 74%;
      }
      
      @include bp($point_5, max) {
        width: 100%;
       }

    .about_img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }


  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 4rem 6rem 4rem;
    width: 100%;
    min-height: 52.3rem;

    color: $white;
    background-color: $blue;

    @include bp($point_4, min) {
      width: 38%;
      margin-left: -12%;
      max-width: 48.8rem;
      min-height: 52.3rem;
    }
    
    @include bp($point_5, max) {
      width: 100%;
      margin: 0;
      margin-top: -12%;
      min-height: 30rem;
     }

    .desc_title {
      padding-bottom: 3.7rem;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.22rem;
      
    }

    .desc_text {
      padding-bottom: 7.4rem;
      font-size: 20px;
      font-weight: 400;
      line-height: 23.46px;
      text-align: left;
      
      @include bp($point_4, max) {
        padding-bottom: 2.4rem;
        font-size: 18px;
        }

      p {
        margin-bottom: 2.8rem;

        @include bp($point_4, max) {
          margin-bottom: 1.8rem;
          }
        
      }
       p:last-child {
        margin-bottom: 0;
       }

    }

    .descr_btn {
      @extend %white_btn;
    }

  }