:root {
  
@include bp($point_4, min) {
    font-size: 10px;
  }
  
@include bp($point_5, max) {
  font-size: 7px;
  }
}

body,
html {
  height: 100%;
  font-family: Work Sans;
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
}
.section {
  width: 100%;
  overflow: hidden;

  @include bp($point_2, min) {
    padding: 10rem 0;
  }
  
  @include bp($point_3, max) {
    padding: 5rem 0;
    }
}
.container {
  width: 100%;
  margin: 0 auto;

  @include bp($point_2, min) {
    padding: 0 3rem;
  }
  
  @include bp($point_3, max) {
    padding: 0 1.5rem;
    }
}
/* MAIN */
.main {
    flex-grow: 1;
    width: 100%;
  }