@import "https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap";
@import "./reset";
@import './variables';
@import './extends';
@import "./main/base";
@import "./main/header";
@import "./main/hero";
@import "./main/reputation";
@import "./main/_cont";
@import "./main/_projects";
@import './main/us';


/* _________________ */
.section--services {
  background-color: #f6f8f7;
  min-height: 608px;
  overflow: hidden;
}
.container--services {
  max-width: 1080px;
  width: 100%;
}

.serv_w {
  /* width: 100%; */
  display: flex;
  /* column-gap: 98px; */
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 48px;
  margin-right: -98px;
}
.serv_ww {
  padding-right: 98px;
  width: calc(100% / 3);
}
.serv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  min-height: 181px;
  cursor: pointer;
  /* width: calc((100% - 2 * 98px) / 3); */
  background-color: white;
}
.serv--blue {
  background-color: #2947a9;
}
.serv__img {
  width: 40px;
  height: 40px;
}
.serv__bord {
  border-bottom: #e0e3eb solid 2px;
  max-width: 60px;
  width: 100%;
}

.serv__title {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.46px;
  color: #2947a9;
}
.serv__title--white {
  color: white;
}
/* ______ */
.container--exp {
  max-width: 1080px;
}

/* ________ */
.srction--form {
  background-color: #f6f8f7;
}
.container--form {
  max-width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__text {
  width: 100%;
  max-width: 539px;
  margin-bottom: 38px;
}
.text__title {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.23px;
  text-align: center;
  color: #292e3d;
  padding-bottom: 20px;
}
.text__descr {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
  text-align: center;
  color: #292e3d;
}
.form__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}
.form__input,
.form__select {
  width: calc((100% - 32px) / 2);
  min-height: 41px;
  margin-bottom: 20px;
  padding: 0 8px;
}
#message {
  width: 100%;
  min-height: 135px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-left: 8px;
}
.form__input::placeholder,
#message::placeholder {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.11px;
  text-align: left;
  color: #a3aac2;
}

.form__input,
.form__select,
#message {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.11px;
  text-align: left;
  border: 1px solid #e0e3eb;
  color: #8f95aa;
}
.form__hint {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  width: 100%;
  margin-bottom: 28px;
}
.form__hint span {
  color: red;
}
.form__btn {
  @extend %blue_btn;
  width: 100%;
  margin: 0 auto;
}
.form__select {
  appearance: none;
  background: white url(../../data/img/contavting.svg) no-repeat right 12px center /
    20px 20px;
}
input:invalid,
select:invalid {
  border: 2px dashed red;
}
/* FOOTER */
.footer {
  width: 100%;
}
.container--footer_contact {
  max-width: 1276px;
}
.container--footer {
  max-width: 1276px;
  min-height: 70px;
}
.section--footer {
  background-color: #2947a9;
  padding: 0;
}
.footer_last {
  max-height: 70px;
  width: 100%;
}
.last_text {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  color: white;
  padding: 26px 0;
}
